/* Clock, Date, Weather */

.clock-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}

#clock {
  font-size: clamp(var(--font-size-x1), 6rem, var(--font-size-3x1));
  font-weight: 400;
  letter-spacing: 2px;
}


#date {
  font-size: var(--font-size-lg);
  color: var(--color-text-muted);
}

#greeting {
  font-size: var(--font-size-lg);
  color: var(--color-text-muted);
}

#weather {
  display: flex;
  gap: var(--space-4);
  margin-top: var(--space-4);
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
}

 /* --- Average Screen range --- */
@media (min-width: 1280px) and (max-width: 1599px){
  #clock {
    font-size: clamp(var(--font-size-x1), 8rem, 10rem); 
    letter-spacing: 2px; 
  }
}

 /* --- Big Screens --- */
@media (min-width: 1600px){

   #clock {
    font-size: clamp(var(--font-size-x1), 10rem, 12rem); 
    letter-spacing: 4px; 
  }

  #date {
  font-size: var(--font-size-x1);
  color: var(--color-text-muted);
  }

  #greeting {
  font-size: var(--font-size-x1);
  color: var(--color-text-muted);
  }

  #weather {
  margin-top: var(--space-2);
  font-size: var(--font-size-md);
  }

}
